workflows/2lz99lsaXbqz1tAg.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Text to Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T19:52:32.339Z",
  "id": "2lz99lsaXbqz1tAg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -16
      ],
      "id": "6a471556-1738-42f7-b3a7-7eee5c8ee22b",
      "name": "Telegram Trigger",
      "webhookId": "b4120da2-5a72-442a-822b-bbdffcdae3e3",
      "credentials": {
        "telegramApi": {
          "id": "zTMkwCF9awhMa054",
          "name": "Resto_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -16
      ],
      "id": "602dcbfd-aede-46f5-846e-b428b876c19c",
      "name": "Get a file",
      "webhookId": "0a4273a4-f909-495e-a19a-6138b9c02f0a",
      "credentials": {
        "telegramApi": {
          "id": "zTMkwCF9awhMa054",
          "name": "Resto_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9000/asr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -16
      ],
      "id": "97e68943-0a3e-468d-9b23-c1916693780b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "You are a helpful assistant who is professional\ndo not put emojis in your response"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        544,
        -16
      ],
      "id": "e4224fd1-38bb-48e6-aa25-a64200b35156",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen/qwen3-vl-4b",
          "mode": "list",
          "cachedResultName": "qwen/qwen3-vl-4b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        224
      ],
      "id": "e40fb6d4-a2d5-4796-8dd7-12f04377521c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ECfDhjgYgcZ9auWI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "n8n_VOICE_CHat",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        640,
        224
      ],
      "id": "4a2c5249-e5fd-4fd2-88a2-92a25d83607d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "UeE6SAbT1FgO5hVJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-piapi.textToSpeech",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "id": "5b92261b-3a5d-4bba-b5b3-1630e00e6b3c",
      "name": "Text to Speech",
      "credentials": {
        "piAPIApi": {
          "id": "8vHOLCYQjf5N0k24",
          "name": "PiAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T19:52:32.339Z",
      "createdAt": "2025-12-10T19:52:32.339Z",
      "role": "workflow:owner",
      "workflowId": "2lz99lsaXbqz1tAg",
      "projectId": "X0CZyf3c4Xc8ZXpB"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-15T21:42:06.165Z",
  "versionId": "f44a5007-6c6a-4826-b26c-caff1537d950"
}