workflows/4ZsGXiRystUcVPhD.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-17T18:37:03.156Z",
  "id": "4ZsGXiRystUcVPhD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Send Draft",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "63e3fb4c-c0e5-4393-80e1-82195faa93f6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zPl4ZyGw5aBYQ2XC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=write a reply to the following email then add it as a draft to the email thread \n<email>\nFrom : {{ $json.from.text }}\nmessage : {{ $json.textAsHtml }}\nsubject : {{ $json.subject }}\n</email> ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "478bfffd-8e81-4eeb-b32c-736b2d3189d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen/qwen3-vl-4b",
          "mode": "list",
          "cachedResultName": "qwen/qwen3-vl-4b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        240
      ],
      "id": "a978110b-2dae-433d-a664-62c2f423b125",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ECfDhjgYgcZ9auWI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI('subject' ) }}",
        "message": "={{ $fromAI('Message') }}",
        "options": {
          "threadId": "={{ $json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        448,
        224
      ],
      "id": "3c96bcb2-5888-449b-be40-aff555cc6b89",
      "name": "Create Draft",
      "webhookId": "df46986a-39bb-4b9e-8a78-2693d8022d2d",
      "credentials": {
        "gmailOAuth2": {
          "id": "zPl4ZyGw5aBYQ2XC",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-17T18:37:03.156Z",
      "createdAt": "2025-12-17T18:37:03.156Z",
      "role": "workflow:owner",
      "workflowId": "4ZsGXiRystUcVPhD",
      "projectId": "X0CZyf3c4Xc8ZXpB"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T19:27:55.885Z",
  "versionId": "e6f29ce1-c18c-4152-9008-df3f3a257f3a"
}